@using Tse.UI.Web.Backoffice.Helpers
@model Tse.UI.Web.Backoffice.ViewModels.StandartDuzenleViewModel
@section renderSection{ <script type="text/javascript" src="~/Content/assets/pages/scripts/standart.min.js"></script> }   

<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-wallet"></i>
            <span  id="standart-title" class="caption-subject font-dark bold text-capitalize">@Model.Standart.TsNo - @Model.Standart.BaslikTr</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="">
                <a href="#portlet_tab1" data-toggle="tab" aria-expanded="false">Genel</a>
            </li>
            <li class="active">
                <a href="#portlet_tab2" data-toggle="tab" aria-expanded="false">İçerik </a>
            </li>
            <li class="">
                <a href="#portlet_tab3" data-toggle="tab" aria-expanded="false">Önizleme</a>
            </li>                    
        </ul>
    </div>   

    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane" id="portlet_tab1">                
                <div class="portlet light portlet-fit portlet-form">
                    <div class="portlet-body">
                        @using (Html.BeginForm("duzenle", "standart", FormMethod.Post, new { @name = "form1", @id = "form1", @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(m=>m.Standart.StandartID)
                            @Html.AntiForgeryToken()

                            <div class="form-body">

                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Formdaki alanları doğru ve eksiksiz bir biçimde doldurunuz.
                                </div>                        

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.TsNo)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.TsNo, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayName("Hazırlık Grubu")</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.HazirlikGrubuID, new SelectList(Model.HazirlikGruplari, "DegerID", "DegerAdiTr"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.KabulTarihi)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            <div id="kabulTarihi" class="input-group  date date-picker">
                                                @Html.TextBoxFor(m => m.Standart.KabulTarihi, Model.Standart.KabulTarihi.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayName("Döküman Tipi")</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.DokumanTipiID, new SelectList(Model.DokumanTipleri, "DegerID", "DegerAdiTr"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>Yürürlük Durumu</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.YururlukDurumuID, new SelectList(Model.YururlukDurumlari, "DegerID", "DegerAdiTr"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>Standart Türü</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.StandartTurID, new SelectList(Model.StandartTurler, "DegerID", "DegerAdiTr"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.BaslikTr)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.BaslikTr, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.BaslikEn)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.BaslikEn, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.KapsamTr)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.KapsamTr, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.KapsamEn)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.KapsamEn, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.YeriniAldigi)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.YeriniAldigi, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.TadilEden)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.TadilEden, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.YararlanilanKaynak)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.YararlanilanKaynak, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.TercumeEdildigiStd)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.TercumeEdildigiStd, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.IcsKodu)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.IcsKodu, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.CenCenelec)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.CenCenelec, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.Dili)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.Dili, htmlAttributes: new { @class = "form-control", @data_required = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.RenkDurumu)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.RenkDurumu, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.Fiyati)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.Fiyati, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.ParaBirimiID)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.ParaBirimiID, new SelectList(Model.ParaBirimleri, "ParaBirimiID", "Kodu"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.UygulamaDurumu)</span>
                                            <span class="color-white"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Standart.UygulamaDurumu, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-3">
                                            <span>@Html.DisplayNameFor(m => m.Standart.DurumID)</span>
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(m => m.Standart.DurumID, new SelectList(Model.Durumlar, "DurumID", "DurumAdi"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn green">Kaydet</button>
                                                <button type="button" id="btnVazgec" class="btn grey-salsa btn-outline">Vazgeç</button>
                                            </div>
                                        </div>
                                    </div>
                        }
                    </div>
                </div>



            </div>
            <div class="tab-pane active" id="portlet_tab2">
                <div class="alert alert-warning">
                    <button class="close" data-close="alert"></button> Bu bölümden madde başlıklarını yönetebilirsiniz.
                </div>
                <p>Tarram</p>
            </div>
            <div class="tab-pane" id="portlet_tab3">
                <div class="alert alert-warning">
                    <button class="close" data-close="alert"></button> Bu bölümden de önüzleme yapın barik.
                </div>
            </div>
        </div>
    </div>
</div>