@using Tse.UI.Web.Backoffice.Helpers
@model Tse.UI.Web.Backoffice.ViewModels.UlkeListeleViewModel
@section renderSection { <script type="text/javascript" src="~/Content/assets/pages/scripts/ulke.min.js"></script> }
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <!-- table toolbar -->
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button class="btn green" id="btnEkle">
                                Yeni Ülke
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>                    
                    <div class="col-md-6">                                                
                        <div class="btn-group pull-right">
                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                Filtrele
                                <i class="fa fa-filter"></i>
                            </button>                            
                            <ul class="dropdown-menu pull-right">
                                @if (Model.Filter.CountByDurumId(0)>0)
                                {
                                    <li>
                                        <a href="javascript:;" id="btnTumKayitlar"><i class="fa fa-filter" aria-hidden="true"></i> Tüm Kayıtlar(@Model.Filter.CountByDurumId(0)) </a>
                                    </li>
                                }
                                @if (Model.Filter.CountByDurumId(1) > 0)
                                {
                                    <li>
                                        <a href="javascript:;" id="btnAktif"><i class="fa fa-filter" aria-hidden="true"></i> Aktif (@Model.Filter.CountByDurumId(1)) </a>
                                    </li>
                                }
                                @if (Model.Filter.CountByDurumId(2) > 0)
                                {
                                    <li>
                                        <a href="javascript:;" id="btnPasif"><i class="fa fa-filter" aria-hidden="true"></i> Pasif (@Model.Filter.CountByDurumId(2)) </a>
                                    </li>
                                }
                                @if (Model.Filter.CountByDurumId(3) > 0)
                                {
                                    <li>
                                        <a href="javascript:;" id="btnTaslak"><i class="fa fa-filter" aria-hidden="true"></i> Taslak (@Model.Filter.CountByDurumId(3)) </a>
                                    </li>
                                }
                                @if (Model.Filter.CountByDurumId(4) > 0)
                                {
                                <li>
                                    <a href="javascript:;" id="btnSilinmis"><i class="fa fa-filter" aria-hidden="true"></i> Silinmiş (@Model.Filter.CountByDurumId(4)) </a>
                                </li>                              
                                 }
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table1">
                <thead>
                    <tr>
                        <th data-field="id"> Id </th>
                        <th data-field="ulkeadi"> Ülke Adı </th>
                        <th data-field="durum"> Durumu </th>
                    </tr>
                </thead>
                <tbody>                    
                    @foreach (var ulke in Model.Ulkeler)
                    {
                        <tr>
                            <td> @ulke.UlkeID </td>
                            <td> @ulke.UlkeAdi </td>
                            <td> @ulke.Durum.DurumAdi </td>
                        </tr>
                    }
                </tbody>
            </table>
            <ul id="contextMenu1" class="dropdown-menu">               
                <li data-item="duzenle">
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Düzenle</a>
                </li>
                <li data-item="sil">
                    <a><i class="icon-trash"></i>Sil</a>
                </li>
                <li class="divider"> </li>
                <li data-item="ekle">
                    <a><i class="fa fa-plus-square-o" aria-hidden="true"></i>Yeni Ekle</a>
                </li>
            </ul> 
            <script>
                $(function () {
                    $('#table1').bootstrapTable({
                        rowStyle: "rowStyle",
                        contextMenu: '#contextMenu1',
                        onContextMenuItem: function (row, $el) {
                            if ($el.data("item") == "ekle") 
                                window.location.href = '/ulke/ekle';                            
                            else if ($el.data("item") == "duzenle") 
                                get('/ulke/duzenle/'+row.id);
                            else if ($el.data("item") == "sil") {
                                if (confirm(row.ulkeadi + 'kaydını silmek istediğine emin misin?')) 
                                    post('/ulke/sil', { id: row.id });                                
                                else 
                                    e.preventDefault();                 
                            }
                        }
                    });
                });
            </script>           
        </div>
    </div>
</div>