@using Tse.UI.Web.Backoffice.Helpers
@model Tse.UI.Web.Backoffice.ViewModels.IlceDuzenleViewModel
@section rendersection{ <script type="text/javascript" src="~/Content/assets/pages/scripts/ilce.min.js"></script> }
<div class="row">
    <div class="col-md-12">       
        <div class="portlet light portlet-fit portlet-form">
            <div class="portlet-body">                
                @using (Html.BeginForm("duzenle", "ilce", FormMethod.Post, new { @name = "form1", @id = "form1", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()    
                    @Html.HiddenFor(m=>m.Ilce.IlceID)
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>                             
                            Formdaki alanları doğru ve eksiksiz bir biçimde doldurunuz.
                        </div>                                                              
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m=>m.Sehir.SehirAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">                                
                                @Html.DropDownListFor(m=>m.Ilce.SehirID, new SelectList(Model.Sehirler,"SehirID","SehirAdi",Model.Ilce.SehirID).AddFirstItem("Seçiniz", ""), htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>                      
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m=>m.Ilce.IlceKodu)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                   @Html.TextBoxFor(m=>m.Ilce.IlceKodu, new { @class = "form-control", @data_required = "1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m=>m.Ilce.IlceAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m=>m.Ilce.IlceAdi, new { @class = "form-control", @data_required = "1" })
                            </div>
                        </div>
                        <div class="form-group">                            
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m=>m.Durum.DurumAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                  @Html.DropDownListFor(m=>m.Ilce.DurumID, new SelectList(Model.Durumlar, "DurumID","DurumAdi", Model.Ilce.DurumID).AddFirstItem("Seçiniz",""), htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Kaydet</button>                   
                                <button type="button" id="btnVazgec" class="btn grey-salsa btn-outline">Vazgeç</button>             
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>        
    </div>
</div>