@model Tse.Dal.Backoffice.Model.Ilce
@{
    ViewBag.Title = "Yeni İlçe";
    ViewBag.BreadCrumb1Text = "Başlangıç";
    ViewBag.BreadCrumb1Link = "/baslangic/gosterge-paneli";
    ViewBag.BreadCrumb2Text = "İlçeler";
    ViewBag.BreadCrumb2Link = "/ilce";
    ViewBag.BreadCrumb3Text = "Yeni İlçe Ekle";
    ViewBag.BreadCrumb3Link = null;
    ViewBag.HeadText = "Yeni İlçe Ekle";
    ViewBag.SmallText = null;

    //Render Section
    @section renderSection
        {        
        <script type="text/javascript" src="~/Content/assets/pages/scripts/ilce.min.js"></script>
    }    
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form">
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("ekle", "ilce", FormMethod.Post, new { @name = "form1", @id = "form1", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()                                
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Formdaki alanları doğru ve eksiksiz bir biçimde doldurunuz.
                        </div>                                                
                        <div class="alert alert-success @ViewBag.Success">
                            <button class="close" data-close="alert"></button> Kayıt Eklendi.
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m => m.Sehir.SehirAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownList("SehirID", null, "Seçin..", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m => m.IlceKodu)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                   @Html.TextBox("IlceKodu", null, new { @class = "form-control", @data_required = "1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m => m.IlceAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextBox("IlceAdi", null, new { @class = "form-control", @data_required = "1" })
                            </div>
                        </div>
                        <div class="form-group">                            
                            <label class="control-label col-md-2">
                                <span>@Html.DisplayNameFor(m => m.Durum.DurumAdi)</span>
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">                              
                                @Html.DropDownList("DurumID", null, "Seçin..", htmlAttributes: new { @class = "form-control" })                        
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Kaydet</button>                   
                                <button type="button" id="btnVazgec" class="btn grey-salsa btn-outline">Vazgeç</button>             
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@(Session["Success"] = "")