@using Tse.Dal.Backoffice.Model;
@model List<Ilce>
@{
    ViewBag.Title = "İlçeler";
    ViewBag.BreadCrumb1Text = "Başlangıç";
    ViewBag.BreadCrumb1Link = "/baslangic/gosterge-paneli";
    ViewBag.BreadCrumb2Text = "İlçeler";
    ViewBag.BreadCrumb2Link = null;
    ViewBag.HeadText = "Tüm İlçeler";
    ViewBag.SmallText = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <!-- table toolbar -->
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button class="btn green" onclick="window.location.href = '/ilceler/yeni-ilce-ekle'">
                                Yeni Ülke
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                Araçlar
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"><i class="icon-printer"></i> Yazdır </a>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table -->
            <table class="table table-striped table-hover" id="ilce">
                <thead>
                    <tr>
                        <th data-field="id"> Id </th>
                        <th data-field="sehiradi"> Şehir Adı </th>
                        <th data-field="ilceid"> İlçe Kodu </th>
                        <th data-field="ilceadi"> İlçe Adı </th>
                        <th data-field="durum"> Durumu </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ilce in Model)
                    {
                        <tr>
                            <td> @ilce.IlceID </td>
                            <td> @ilce.Sehir.SehirAdi </td>
                            <td> @ilce.IlceKodu </td>
                            <td> @ilce.IlceAdi </td>
                            <td> @ilce.Durum.DurumAdi </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- context menus -->
            <ul id="example1-context-menu" class="dropdown-menu">
                <li data-item="yeni">
                    <a><i class="icon-magnifier-add"></i>Yeni Ekle</a>
                </li>
                <li data-item="duzenle">
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Düzenle</a>
                </li>
                <li data-item="sil">
                    <a><i class="icon-trash"></i>Sil</a>
                </li>
                <li class="divider"> </li>
                <li data-item="yazdir">
                    <a><i class="icon-printer"></i>Yazdır</a>
                </li>
                <li data-item="pdf">
                    <a><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Pdf Aktar</a>
                </li>
                <li data-item="excell">
                    <a><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excell Aktar</a>
                </li>
            </ul>
            <!-- javascripts -->
            <script>
                $(function () {
                    $('#ilce').bootstrapTable({
                        rowStyle: "rowStyle",
                        contextMenu: '#example1-context-menu',
                        onContextMenuItem: function (row, $el) {
                            if ($el.data("item") == "yeni") {
                                alert("Ekle: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                            else if ($el.data("item") == "duzenle") {
                                alert("Düzenle: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                            else if ($el.data("item") == "sil") {
                                alert("Sil: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                            else if ($el.data("item") == "yazdir") {
                                alert("Yazdır: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                            else if ($el.data("item") == "pdf") {
                                alert("Pdf: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                            else if ($el.data("item") == "excell") {
                                alert("Excell: " + row.id + ' ' + row.sehiradi + ' ' + row.ilceid + ' ' + row.ilceadi + ' ' + row.durum);
                            }
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
